# get mlproject package from here: https://github.com/viebboy/mlproject
mlproject
# get cvinfer from here: https://github.com/viebboy/cvinfer
cvinfer
# get dataset_server from here: https://github.com/viebboy/dataset_server
dataset_server
# others
loguru
tabulate
torchvision
torch
